body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.input-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="number"], select {
    width: calc(100% - 20px);
    padding: 5px;
    font-size: 16px;
}
button {
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}
button#calculateBtn {
    background-color: #e74c3c;
}
button#calculateBtn:hover {
    background-color: #c0392b;
}
button#resetBtn {
    background-color: #3498db;
}
button#resetBtn:hover {
    background-color: #2980b9;
}
#result, #warning, #deviceInfo {
    margin-top: 20px;
    font-weight: bold;
}
#warning {
    color: #e74c3c;
}
#deviceInfo {
    color: #27ae60;
}
#output-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 20px;
}
#target-button-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* 이렇게 하면 항상 정사각형 형태를 유지합니다 */
    margin-bottom: 20px;
}

#target-button {
    position: absolute;
    top: 0;
    left: 30px;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
#target-button:hover {
    background-color: #2980b9;
}
#target-button:active {
    background-color: #1f618d;
}
#target-size-label {
    font-weight: bold;
    margin-bottom: 10px;
}
#interaction-feedback {
    font-style: italic;
    margin-bottom: 20px;
}
#result {
    text-align: left;
    width: 100%;
}
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    button {
        width: 100%;
        margin-right: 0;
    }
    #output-container {
        width: 100%;
    }
    #result {
        font-size: 14px;
    }
}